asgiref==3.11.1
certifi==2026.2.25
chardet==7.4.3
charset-normalizer==3.4.7
diff-match-patch==20241021
Django==6.0.4
django-import-export==4.4.0
idna==3.11
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.1
urllib3==2.6.3
